.food-card {
  text-align: center;
  width: fit-content;
  border-radius: 2%;
  max-width: 300px;
  min-width: 180px;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  background-color: antiquewhite;
  box-shadow: 5px 5px midnightblue;
}

.food-card h4 {
  font-family: "Homemade Apple";
  font-size: large;
}

.food-card p {
  font-size: medium;
}

.food-type {
  font-style: normal;
}

.food-card img {
  border-radius: 2%;
  margin: 5%;
}

/* .numbers-input {

} */

.food-card button {
  min-width: 30%;
  min-height: 30px;
  background-color: white;
  border: none;
  border-radius: 5px;
  border-color: white;
  box-shadow: 2px 2px midnightblue;
  margin-top: 2%;
}

#save-food:hover {
  background-color: lightcoral;
  color: white;
  box-shadow: none;
}

.save-food:active {
  background-color: midnightblue;
  color: white;
  box-shadow: none;
}

#delete-food {
  background-color: midnightblue;
  color: white;
  box-shadow: 2px 2px midnightblue;
}

#delete-food:hover {
  background-color: lightcoral;
  color: white;
  box-shadow: none;
}
