@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Belanosima");

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Belanosima";
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

header {
  margin-left: 1rem;
  font-family: "Homemade Apple";
}

header input {
  display: flex;
}

nav {
  margin-left: 1rem;
  background-color: antiquewhite;
}

nav h3 {
  display: inline-block;
  font-size: larger;
  /* font-family: "Belanosima"; */
}

.food-card {
  /* border-top: 5px;
  border-top-color: rgb(179, 252, 62); */
  background-color: antiquewhite;
  /* border-top-style: inset; */
  width: fit-content;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  align-items: center;
  /* :hover {
    background-color: rgb(247, 104, 82);
  } */
}

.food-card h4 {
  font-family: "Homemade Apple";
  font-size: large;
}

.food-card p {
  font-family: "Belanosima";
  font-size: medium;
  text-align: right;
  display: inline-block;
}

.food-card img {
  border-radius: 10%;
}
.food-card input {
  max-width: 60px;
  margin-right: 5px;
  /* justify-content: left; */
}

.food-card button {
  margin-top: 10px;
}

/* .food-card label {
  display: flex;
  flex-direction: column;
} */

#food-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* flex-flow: row wrap; */
  /* align-items: flex-start;
  justify-content: space-around; */
}

#add-food {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* flex-flow: row wrap; */
  /* justify-content: space-around; */
}

#add-food button {
  width: 80%;
}
